<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>

<ul>
    {% for hot in hotels %}
    <li>{{ hot.nom }}</li>
        <ul>
        {% for cha in hotel.chambre_set.all %}
            <li>{{ cha.numero }} : {{ cha.disponible }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>


</body>
</html>